@keyframes changeWidth {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes popup-animation {
  from {
    opacity: 0;
    transform: translate(-50%, calc(-50% + 200px));
  }
  40% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
