@keyframes changeWidth {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes comingsoon-popup {
  from {
    opacity: 0;
    transform: translate(-50%, calc(-50% + 200px));
  }
  40% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
// @keyframes sidebar-mobile {
//   0% {
//     transform: translateX(-100%);
//     opacity: 0;
//   }
//   5% {
//     opacity: 0.7;
//   }
//   50% {
//     transform: translateX(0);
//   }
//   55% {
//     transform: translateX(-10%);
//     opacity: 1;
//   }
//   60% {
//     transform: translateX(-12%);
//   }
//   80% {
//     transform: translateX(0);
//   }
//   85% {
//     transform: translateX(-2%);
//   }
//   87% {
//     transform: translateX(-3%);
//   }
//   100% {
//     transform: translateX(0);
//   }
// }
@keyframes sidebar-mobile {
  0% {
    transform: translateX(-100%);
  }

  12% {
    transform: translateX(-90%);
  }

  24% {
    transform: translateX(-56%);
  }

  36% {
    transform: translateX(-2%);
  }

  54% {
    transform: translateX(-25%);
  }

  74% {
    transform: translateX(-1.63%);
  }

  82% {
    transform: translateX(-6%);
  }

  92% {
    transform: translateX(-0.66%);
  }

  96% {
    transform: translateX(-1.54%);
  }

  100% {
    transform: translateX(0%);
  }
}
@keyframes show-detail-popup-main {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
@keyframes close-detail-popup-main {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(100%) scale(0);
  }
}
@keyframes open-popup {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  75% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes clipboard {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
