@import 'assets/scss/animation';
#popup {
  cursor: pointer;
  user-select: none;
  position: relative;
  z-index: 1000;
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: yellow;
    animation: popup-animation 2s ease-in-out;
    z-index: 20;
  }
}
