@import 'assets/scss/valuable';
@import 'assets/scss/mixin';
@import 'assets/scss/animation';
@import 'assets/scss/responsive';

#dashboard {
  .account {
    color: $white-color;
    margin-bottom: 40px;
    h3 {
      font-weight: 700;
      font-size: 2.6rem;
      margin: 20px 0 8px;
      font-weight: 700;
    }
    h3:not(:first-child) {
      margin-top: 30px;
    }
    .account-box {
      background-color: rgba(101, 37, 26, 0.22);
      border-radius: 5px;
      border: 2px solid $orange-color;
      padding: 8px 12px;
      .item {
        margin-bottom: 16px;
        font-size: 1.6rem;
        display: flex;
        justify-content: space-between;
        &:first-child {
          margin-top: 16px;
        }
        label {
          flex-basis: 200px;
          width: 200px;
          color: #bbbdbf;
          font-size: 1.8rem;
          font-weight: 800;
        }
        .content {
          display: flex;
          flex-basis: 100px;
          font-weight: 700;
          flex: 1;
          .number {
            @include yelow-gradient-color;
            flex-grow: 1;
          }
          .unit {
            @include gray-gradient-color;
          }
        }
      }
      .item2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        font-size: 1.8rem;
        background-color: #59070bc9;
        border: 2px solid $orange-color;
        border-radius: 10px;
        margin-bottom: 16px;
        margin-left: auto;
        margin-right: auto;
        padding: 8px 12px;
        cursor: pointer;
        user-select: none;
        &:hover .icon svg {
          fill: $yellow-color;
        }
        label {
          @include gray-gradient-color;
          white-space: nowrap;
        }
        .text {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          @include yelow-gradient-color;
          flex: 1;
        }
        .icon {
          display: flex;
          transition: all 0.5s ease-in-out;
          overflow: hidden;
          flex-basis: 30px;
          min-width: 30px;
          svg {
            transition: all 0.4s ease-in-out;
            fill: $white-color;
            animation: clipboard 0.5s ease-in-out;
          }
        }
      }
    }
    .wallet-box {
      width: 900px;
      margin-left: auto;
      margin-right: auto;
      .item {
        align-items: flex-end;
      }
    }
    @include media('screen', '<laptop') {
      .account-box {
        .item2 {
          width: 100%;
        }
      }
      .wallet-box {
        width: 100%;
        .item {
          .number {
            text-align: right;
          }
        }
      }
    }
  }
}
