@import 'assets/scss/valuable';
@import 'assets/scss/responsive';

#vesting {
  .box-token {
    width: 1024px;
    margin: 56px auto 0;
    display: flex;
    align-items: flex-start;
    .item {
      flex-basis: 50%;
    }
    .left {
      background-color: rgba(101, 37, 26, 0.22);
      border-radius: 10px;
      border: 2px solid $orange-color;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        max-width: 58%;
      }
    }
    .right {
      margin: 20px;
      padding-left: 48px;
      letter-spacing: 1.2px;
      h1 {
        font-size: 3.4rem;
        padding-bottom: 12px;
        font-weight: 700;
      }
      p {
        font-size: 1.6rem;
      }
      .claim-button {
        margin-top: 20px;
        width: 110px;
        height: 36px;
        background: url('/assets/img/button5.png') no-repeat center / 100% 100%;
        button {
          height: 100%;
          width: 100%;
          color: $white-color;
          background-color: transparent;
          border: none;
          outline: none;
          font-size: 1.4rem;
          text-shadow: 1px 1px 2px #000;
        }
      }
    }
    @include media('screen', '<laptop') {
      width: 100%;
      flex-direction: column;
      align-items: stretch;
      .left {
        margin-left: 8px;
        margin-right: 8px;
      }
      .right {
        padding-left: 0;
        h1 {
          padding-bottom: 0;
        }
        .claim-button {
          margin-left: auto;
          margin-right: auto;
          button {
            font-weight: 700;
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}
