// html {
//   background-image: linear-gradient(180deg, #00123a 10%, #010c10 90%);
// }
.App {
  background-image: linear-gradient(180deg, #00123a 10%, #010c10 90%);
  background-attachment: fixed;
  z-index: -1;
}
main {
  padding-left: 245px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
::-webkit-scrollbar {
  width: 0;
}
