@import 'assets/scss/responsive';

.App {
  background: url('/assets/img/background.jpg') no-repeat center / cover;
  background-attachment: fixed;
  z-index: -1;
}
main {
  padding-left: 245px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  height: 100vh;
  overflow-y: scroll;
  @include media('screen', '<laptop') {
    padding-top: 70px;
    padding-left: 0;
    .logo {
      text-align: center;
      img {
        width: 140px;
      }
    }
  }
}
::-webkit-scrollbar {
  width: 0;
}
